.form-row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}
.full-width {
  flex: 1 1 auto;
}
.mb-4 {
  margin-bottom: 24px;
}
.mb-2 {
  margin-bottom: 16px;
}
table {
  width: 100%;
}
